* {
    border-radius: 0 !important;
}

body {
	background: #eef1f8;
	color: #003580;
}

hr {
    border-top: 2px solid #003580;
}

.floating-plane {
    padding-top: 25px;
    padding-bottom: 25px;

    background: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
}

.pull-right {
    float: right !important;
}

form .error {
    color: #ff0000;
}

.content {
    width: 80%;
    float:right;
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;

    margin-bottom: 10px;
}

.vcentered-container {
    display: table;
}

.vcentered-container.inline {
    display: inline-table;
}

.vcentered-container > .vcentered {
    display: table-cell;
    vertical-align: middle;
}